<!-- go to   www.w3schools.com/angular/tryit.asp?filename=try_ng_customers_mysql   and paste code for practice.-->
 
<!DOCTYPE html>
<html>
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<style>
		input {
			margin: 6px;
		}
		
		body {
			
			background: linear-gradient( white, #E0FFFF);
			background-repeat: no-repeat;
  			background-attachment: fixed;
		}
		
		table, th , td  {
		   border: 1px solid #E0FFFF;
		   border-collapse: collapse;
		   padding: 5px;
		}
		
		.firstTable td:nth-last-child(1) {
			
			background-color: #E0FFFF;
			
		}

		.firstTable td:nth-last-child(2) {
			
			background-color: #E0FFFF;		
			
		}

		.firstTable th:nth-last-child(1) {
			
			background-color: #E0FFFF;		
			
		}
						
		table tr:nth-child(odd) {
		  background-color: #f1f1f1;
		}
		
		table tr:nth-child(even) {
		  background-color: #ffffff;
		}
		
		th {
			background-color: #3BB9FF;
			font-weight: 900;
		}
		
		.todoRows td:hover {
			cursor: pointer;
		}
		
		.noBorder {
			border: 0px; border-collapse: collapse;
		}
		
		.btn-default {
			background: #FF7F3B !important;
		}
		
		.gumbo{
			font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
			margin: auto; 
			width: 100%; 
			padding: 10px; 
			color: #FF7F3B;
			text-align:center; 
			background: linear-gradient(#3BB9FF, white);
		}
		
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
	<script>
                
		var app = angular.module('myApp', ['ngSanitize']);
		
		app.directive('contenteditable', function() {
		    return {
		      restrict: 'A',
		      require: '?ngModel',
		      link: function(scope, element, attrs, ngModel) {
		        if(!ngModel) return;

		        // Specify how UI should be updated
		        ngModel.$render = function() {
		          element.html(ngModel.$viewValue);
		        };

		        // Listen for change events to enable binding
		        element.on('blur keyup change', function() {
		      	  var regex = /(<br\ ?\/?>)+/;
		          ngModel.$setViewValue(element.html().replace(regex, ''));
		        });
		      }
		    };
		});

		app.controller('customersCtrl',['$scope', '$window', '$compile', '$sce', function($scope, $window, $compile, $sce ) {
			$scope.todos 		= [];
			$scope.finishedList = [];
			$scope.selectionStart;
			$scope.selectionEnd;
		   
		   if(JSON.parse(localStorage.getItem('toDoItems')))
		   {
				$scope.todos = JSON.parse(localStorage.getItem('toDoItems'));
		   }
		
		   if(JSON.parse(localStorage.getItem('finishedList')))
		   {   
				$scope.finishedList = JSON.parse(localStorage.getItem('finishedList'));
		   }
			  
		   
		   $scope.id = localStorage.getItem('toDoItemID');

		   $scope.selectText = function() {
		   		if ( ($window.getSelection().getRangeAt(0).startOffSet != $scope.selectionStart || $window.getSelection().getRangeAt(0).endOffset != $scope.selectionEnd) && !($window.getSelection().isCollapsed) ) {

		   			var editToolEl = document.querySelector('#editorTool');
		   			if ( editToolEl ) {
		   				document.body.removeChild(editToolEl);
		   			}

		   			var rangeWordBounds = $window.getSelection().getRangeAt(0).getBoundingClientRect();
		   			var el = document.createElement('div');
		   			var formatButtons = '<button ng-click="addBold()">B</button><button ng-click="addItalic()">I</button><button ng-click="addUnderline()">U</button>';

		   			$scope.selectionStart = $window.getSelection().getRangeAt(0).startOffSet;
		   			$scope.selectionEnd   = $window.getSelection().getRangeAt(0).endOffSet;
		   			el.style.position = 'absolute';
					el.style.left = (rangeWordBounds.left) + 'px';
					el.style.top = (rangeWordBounds.top - 30) + 'px';
					el.style.bottom = rangeWordBounds.bottom;
		   			el.style.height = '30px';
		   			el.style.width = '80px';
		   			el.setAttribute('id','editorTool');
		   			el.innerHTML = formatButtons;
		   			$compile(el)($scope);

		   			document.body.appendChild(el);
		   		} 
		   }

		   $scope.addBold = function() {
		   		var sel      		= $window.getSelection();
		   		var range    		= sel.getRangeAt(0);
		   		var spanEl   		= document.createElement('strong');

		   		range.surroundContents(spanEl);
		   }

		   $scope.addItalic = function() {
		   		var sel      		= $window.getSelection();
		   		var range    		= sel.getRangeAt(0);
		   		var spanEl   		= document.createElement('em');

		   		range.surroundContents(spanEl);
		   }

		   $scope.addUnderline = function() {
		   		var sel      		= $window.getSelection();
		   		var range    		= sel.getRangeAt(0);
		   		var spanEl   		= document.createElement('u');

		   		range.surroundContents(spanEl);
		   }
		   $scope.hideEditorTool = function() {
		   		if ( document.querySelector('#editorTool') && ($window.getSelection().isCollapsed)) {
		   			var el = document.querySelector('#editorTool');
		   			document.body.removeChild(el);
		   		}
		   }

		   $scope.addTodo = function(){
		   		$scope.autoDate = $scope.castDate();

				if($scope.name && $scope.description){

					$scope.todos.push({"id": ++$scope.id, "name": $scope.name, "description": $scope.description, "date": $scope.autoDate});
					$scope.name = "";
					$scope.description = "";
					 
					localStorage.removeItem('toDoItems');
					localStorage.setItem('toDoItems', JSON.stringify($scope.todos));
					localStorage.setItem('toDoItemID', $scope.id);			 
				}else{
					alert("Must enter both a To Do Name and Description.");
				}

		   }
		   
		   $scope.addDoneRow = function(data) {
		   	$scope.autoDate = $scope.castDate();
				
				data.date = $scope.autoDate;
				$scope.finishedList.push(data);
				$scope.todos.splice($scope.todos.indexOf(data),1);
				
				localStorage.removeItem('finishedList');
				localStorage.removeItem('toDoItems');
				
				localStorage.setItem('finishedList', JSON.stringify($scope.finishedList));
				localStorage.setItem('toDoItems', JSON.stringify($scope.todos));
				localStorage.setItem('toDoItemID', --$scope.id);
				
				$scope.checkVars = document.getElementsByClassName("checks");
				
				//reset todo list checks to unchecked
				for (var i = 0; i < $scope.checkVars.length; i++)
				{
					
					$scope.checkVars[i].checked = false;
					
				}

				//reset todo ids after removing one and adding to done list
				for (var i = 0; i < $scope.todos.length; i++) 
				{
					$scope.todos[i].id = i + 1;
				}
			
		   }              
		   
		   $scope.clearToDos = function() {
			   localStorage.removeItem('toDoItems');
			   localStorage.setItem('toDoItemID', 0);
			   $scope.id = 0;
			   $scope.todos = [];
		   }
		
		   $scope.clearDones = function() {
					localStorage.removeItem('finishedList');
			    $scope.finishedList = [];
		   }
		   
		   $scope.editTodos = function(data) {
				document.getElementsByClassName("hideName")[data.id - 1].style.visibility = "hidden";
				document.getElementsByClassName("editName")[data.id - 1].type = "text";
				document.getElementsByClassName("hideDescription")[data.id - 1].style.visibility = "hidden";
				document.getElementsByClassName("editDescription")[data.id - 1].type = "text";
				document.getElementsByClassName("hideDate")[data.id - 1].style.visibility = "hidden";
				document.getElementsByClassName("editDate")[data.id - 1].type = "date";
				document.getElementsByClassName("saveButton")[data.id - 1].type = "submit";
				document.getElementsByClassName("editButton")[data.id - 1].type = "hidden";
		   }
		   
		   $scope.saveTodos = function(data) {
		   	
					$scope.regexDate = /^[0-1]?[0-9](\/|\-|\\)[0-3]?[0-9](\/|\-|\\)[0-9]{4} ?([0-1]?[0-9]:[0-5][0-9] [aA || pP][mM])?$/;
					
					if( !$scope.regexDate.test(document.getElementsByClassName("editDate")[data.id - 1].value) )
					{
						
						alert("Please enter the appropriate date-time format mm/dd/yyyy 00:00 pmPM, mm\\dd\\yyyy 00:00 pmPM, or mm-dd-yyyy 00:00 pmPM.");
					
					} else {
						
						$scope.todos[data.id - 1].name = document.getElementsByClassName("editName")[data.id - 1].value;
						$scope.todos[data.id - 1].description = document.getElementsByClassName("editDescription")[data.id - 1].value;
						$scope.todos[data.id - 1].date = document.getElementsByClassName("editDate")[data.id - 1].value;
							
						localStorage.setItem('toDoItems', JSON.stringify($scope.todos));
						
						//angular refresh
						document.getElementsByClassName("hideName")[data.id - 1].style.visibility = "visible";
						document.getElementsByClassName("editName")[data.id - 1].type = "hidden";
						document.getElementsByClassName("hideDescription")[data.id - 1].style.visibility = "visible";
						document.getElementsByClassName("editDescription")[data.id - 1].type = "hidden";
						document.getElementsByClassName("hideDate")[data.id - 1].style.visibility = "visible";
						document.getElementsByClassName("editDate")[data.id - 1].type = "hidden";
						document.getElementsByClassName("saveButton")[data.id - 1].type = "hidden";
						document.getElementsByClassName("editButton")[data.id - 1].type = "submit";
					}
		   }

		   $scope.castDate = function() {
				$scope.today = new Date();
				$scope.autoDate = $scope.today.getMonth()+1+'/'+$scope.today.getDate()+'/'+$scope.today.getFullYear() +' '+((($scope.today.getHours() > 12) ? ($scope.today.getHours() - 12).toString() : $scope.today.getHours()) == 0 ? 12 : (($scope.today.getHours() > 12) ? ($scope.today.getHours() - 12).toString() : $scope.today.getHours())) +':'+ (($scope.today.getMinutes() / 10) >= 1 ? $scope.today.getMinutes() : '0'+$scope.today.getMinutes()) + ' ' + (($scope.today.getHours() / 12) >= 1 ? 'PM' : 'AM');

				return $scope.autoDate;
		   }
		}]);
	</script>
</head>
<body>
	<div ng-app="myApp" class="container" style="height: 700px; width: 800px;" ng-controller="customersCtrl" ng-init="country = ''; rangeAmount = '';">
		<div class="jumbotron gumbo">
			<h2>Mini To Do App with Text Editor</h2>
		</div>
		<br>
		<form ng-submit="addTodo()" role="form">
			<h4><b>Enter To Do:</b></h4>
			<div class="form-group">
				<label for="name">Name:</label><input type="text" id="name" class="form-control" ng-model="name">
				<label for="description">Description:</label><p contenteditable id="description" class="form-control" style="position:relative; left: .5%; height: 100px;" rows="1" ng-model="description" ng-mouseup="selectText()" ng-click="hideEditorTool()"></p>
				<input  class="btn-default" type="submit" value="Add">
			</div>
		</form><br><br>
		

		<p>Search: <input type="text" ng-model="item"> Show: 
		<select ng-model="rangeAmount">
		   <option value=""></option>
		   <option value="1">1</option>
		   <option value="3">3</option>
		   <option value="5">5</option>        
		</select></p>
		
		<h4><b>To Do List:</b></h4>
		<table class="table firstTable">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Date</th>
				<th>Complete?</th>
				<th hidden></th>
			</tr>
			<tr class="todoRows" ng-repeat="x in todos | filter:item | limitTo: rangeAmount track by $index" >
				<td hidden>{{ x.id }}</td>
				<td class="form-group">
					<input class="editName form-control input-sm" type="hidden" value="{{ x.name }}">
					<span class="hideName">{{ x.name }}</span>
				</td>
				<td class="form-group">
					<input class="editDescription form-control input-sm" ng-model="editDescription" type="hidden" value="{{x.description}}">
					<span class="hideDescription" ng-bind-html="x.description"></span>
				</td>
				<td class="form-group">
					<input class="editDate form-control input-sm" ng-model="editDate" type="hidden" value="{{ x.date }}">
					<span class="hideDate">{{ x.date }}</span>
				</td>
				<td class="form-group">
					<input class="checks" type="checkbox" ng-click="addDoneRow(x)">
				</td>
				<td class="noBorder"><input type="submit" class="editButton btn-default" ng-click="editTodos(x)" value="Edit"></td>
				<td class="noBorder"><input type="hidden" class="saveButton btn-default" ng-click="saveTodos(x)" value="Save"></td>
		  </tr>
		</table>
		<button class="btn-default" ng-click="clearToDos()">Clear All To Dos</button><br>
		<br>
		<h4><b>Done:</b></h4>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Date</th>
				<th>Complete?</th>
			</tr>
		  <tr ng-repeat="y in finishedList | filter:item | limitTo: rangeAmount track by $index">
				<td>
					{{ y.name }}
				</td>
				<td>
					{{ y.description }}
				</td>
				<td>
					{{ y.date }}
				</td>
				<td>
					<input type="checkbox" checked="true" disabled>
				</td>
		  </tr>
		</table>
		<button class="btn-default" ng-click="clearDones()">Clear All Completed</button><br>
	</div>
</body>
</html>

